.netflix-logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) -1%, rgba(0, 0, 0, 1) 61%);
}

.netflix-logo img {
    width: 200px;
}

.netflix-overlay {
    background: rgb(0 0 0 / 30%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.signedin-header {
    display: flex;
    z-index: 2;
    position: absolute;
    right: 40px;
    top: 18px;
}
.signedin-header button {
    background: none;
    border: none;
    font-weight: 900;
    color: #FFF;
    margin-left: 15px;
}
.form-error {
    color:#c12121 !important;
    font-weight: 700 !important;
}
.netflix-background img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
form.signin-form {
    position: absolute;
    top: 0;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    width: 400px;
    padding: 28px;
}

form.signin-form > h1 {
    color: #FFF;
    margin: 0 0 38px 0;
}

form.signin-form > p {
    color: #FFF;
    margin-top: 32px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
}

form.signin-form input, form.signin-form button {
    display: block;
    width: 90%;
    height: 46px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}

form.signin-form button {
    width: 95%;
    margin: auto;
    margin-top: 26px;
    background: #c12121;
    color: #FFF;
    font-weight: 700;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

form.signin-form input {
    background: #35373f;
    border: none;
    padding: 0 13px;
    color: #fff
}
.signedin-header span {
    position: absolute;
    bottom: -66%;
    left: -11%;
    color: #dc4a4a;
    font-weight: 700;
}
.video-background {
    width: 100%;
    height: 90vh;
}

.video-background iframe {
    width: 100%;
    height: 100%;
}
.movieInfo {
    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 2;
    color: #FFF;
    width: 40%;
}

button.video-moreinfo-cta svg {
    fill: #fff;
    width: 18px;
    height: 17px;
    margin-right: 8px;
}

.video-info-wrapper button {
    width: 138px;
    height: 46px;
    border-radius: 7px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin: 4px 10px;
    cursor: pointer;
}

button.video-moreinfo-cta {
    background: #605d5d;
    color: #fff;
}

.video-info-wrapper {
    display: flex;
}
button.video-playCta:hover {
    opacity: 0.8;
}
.movie-card--wrapper {
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

.movie-card {
    /* width: 200px; */
    /* height: 151px; */
    margin-right: 5px;
}

.movie-card > img {
    object-fit: fill;
    height: 136px;
    width: 156px;
}

h1 {
    color: #fff;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 30px;
}

body {
    background: #000;
}
.main-container-wrapper + div {
    margin-top: -125px;
    background: #000000;
    z-index: 9;
    position: relative;
    padding: 0 40px;
}
@media only screen and (max-width: 577px) {
    .signin-form {
        max-width: 80%
    }
}